In [1]:
import pandas as pd

# Olympics Data

In this assignment, we'll be working with [this data set](https://raw.githubusercontent.com/michaelschung/bc-data-processing/master/datasets/olympics-clean.csv), which contains Wikipedia data summarizing the medals that various countries have won at the Olympics.

Go ahead and click the link, and take a look at the file. You'll notice that the first line is a list of column names, and each line that follows holds the data for a particular country, in alphabetical order.

## 1) Reading the CSV

In the code cell below, read the CSV file into a DataFrame called `olympics`. Make sure that the column of country names gets used as the index.

In [2]:
olympics_filename = 'olympics.csv'

# Import the CSV file into a DataFrame with the name specified in the instructions above
olympics = pd.read_csv(olympics_filename, index_col=0)

## 2) Previewing the DataFrame

Display the first 15 rows of the the `olympics` DataFrame.

In [5]:
# Display the first 15 rows of olympics
olympics.head(15)

,#Summer,sGold,sSilver,sBronze,sTotal,#Winter,wGold,wSilver,wBronze,wTotal,#Games,Gold,Silver,Bronze,Total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4

Look carefully at this table, and take the time to understand it before moving on to querying.

Each row consists of the following pieces of information. Corresponding column names are in **bold**.

- `[Index]`: Country name and abbreviation
- Summer statistics
  - **`#Summer`**: Summer Olympic Games competed
  - **`sGold`**: Gold medals won in the summer
  - **`sSilver`**: Silver medals won in the summer
  - **`sBronze`**: Bronze medals won in the summer
  - **`sTotal`**: Total medals won in the summer (sum of previous 3 columns)
- Winter statistics
  - **`#Winter`**: Winter Olympic Games competed
  - **`wGold`**: Gold medals won in the winter
  - **`wSilver`**: Silver medals won in the winter
  - **`wBronze`**: Bronze medals won in the winter
  - **`wTotal`**: Total medals won in the winter (sum of previous 3 columns)
- Combined statistics
  - **`#Games`**: Total Olympic Games competed (sum of **`#Summer`** and **`#Winter`**)
  - **`Gold`**: Total gold medals won (sum of **`sGold`** and **`wGold`**)
  - **`Silver`**: Total silver medals won (sum of **`sSilver`** and **`wSilver`**)
  - **`Bronze`**: Total bronze medals won (sum of **`sBronze`** and **`wBronze`**)
- **`Total`**: Total medals won (sum of **`sTotal`** and **`wTotal`**)

## 3) Basic Queries

### a) Summer Gold

Write a query that selects all countries that have won at least one gold medal in the Summer Games.

In [6]:
# Write your code for 3a here
olympics[olympics['sGold'] > 0]

,#Summer,sGold,sSilver,sBronze,sTotal,#Winter,wGold,wSilver,wBronze,wTotal,#Games,Gold,Silver,Bronze,Total
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

### b) Precise Winter

Write a query that selects all countries that have won exactly 6 silver medals in the Winter Games.

In [7]:
# Write your code for 3b here
olympics[olympics['wSilver'] == 6]

,#Summer,sGold,sSilver,sBronze,sTotal,#Winter,wGold,wSilver,wBronze,wTotal,#Games,Gold,Silver,Bronze,Total
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
United Team of Germany (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135

### c) High Scorers

Write a query that selects all countries that have won at least 20 medals total (across both the Summer and Winter Games).

In [8]:
# Write your code for 3c here
olympics[olympics['Total'] >= 20]

,#Summer,sGold,sSilver,sBronze,sTotal,#Winter,wGold,wSilver,wBronze,wTotal,#Games,Gold,Silver,Bronze,Total
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

## 4) Combined Queries

### a) Double Trouble

Write a query that selects all countries that have won gold in both the Summer and Winter Games.

In [9]:
# Write your code for 4a here
sGold = olympics['sGold'] > 0
wGold = olympics['wGold'] > 0
olympics[sGold & wGold]

,#Summer,sGold,sSilver,sBronze,sTotal,#Winter,wGold,wSilver,wBronze,wTotal,#Games,Gold,Silver,Bronze,Total
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Estonia (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
United Team of Germany (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
East Germany (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
West Germany (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
Italy (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
Japan (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
Kazakhstan (KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
South Korea (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
Netherlands (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Slovakia (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

### b) Only Winter

Write a query that selects all countries that have won at least one gold in the Winter, but none in the Summer.

In [10]:
# Write your code for 4b here
wGold = olympics['wGold'] > 0
noSum = olympics['sGold'] == 0
olympics[wGold & noSum]

,#Summer,sGold,sSilver,sBronze,sTotal,#Winter,wGold,wSilver,wBronze,wTotal,#Games,Gold,Silver,Bronze,Total
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

### c) Strangely Specific

Write a query that selects all countries that fulfill the following requirements:

- Has won at least one medal (of any kind) in both Summer and Winter
- Has won a total of at least 30 medals
- Has won at least 10 times more medals in the summer than in the winter

In [11]:
# Write your code for 4c here
req_1 = (olympics['sTotal'] > 0) & (olympics['wTotal'] > 0)
req_2 = olympics['Total'] >= 30
req_3 = olympics['sTotal'] >= olympics['wTotal'] * 10

olympics[req_1 & req_2 & req_3]

,#Summer,sGold,sSilver,sBronze,sTotal,#Winter,wGold,wSilver,wBronze,wTotal,#Games,Gold,Silver,Bronze,Total
Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
Hungary (HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
North Korea (PRK),9,14,12,21,47,8,0,1,1,2,17,14,13,22,49
New Zealand (NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
Romania (ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87