In [1]:
import pandas as pd

# Instructions

1. Head back to the [data sets page](https://github.com/michaelschung/bc-data-processing/tree/master/datasets), and pick one data set that you find particularly interesting.
2. Download the file and use Pandas to load that data set. Before moving on, make sure that it downloaded as a `.csv` file! Check the assignment posting on Classroom if you're having issues.
3. Explore the data by querying the DataFrame. Use this document to record your explorations according to the specifications below.

_Note: There are tons of free data sets out there for you to explore, and in the future you'll be able to use any that you like. For this assignment, however, pick one of the data sets that I've provided for you._

---

### Recording Explorations

Make at least three _thoughtful queries_ into the DataFrame. A thoughtful query consists of:

- A concrete question (in English) that you're trying to answer
- The query itself (in Python, using Pandas)
- 2-3 sentences (in English) that use the query results to answer the initial question

_Note: these instructions are intentionally vague. It's up to you to take this as seriously as you want, but I strongly encourage you to dig deep and learn something from the data you choose to look at. If you think you've asked all possible interesting questions, ask one more._

# Your "Thoughtful Queries"

In [2]:
# Load your CSV file here, and preview the first 10-15 rows
groceriesFile = 'groceries.csv'
groceries = pd.read_csv(groceriesFile, index_col = 0)
groceries2 = pd.read_csv(groceriesFile)
groceries.head(15)
groceries

                     Date        itemDescription
Member_number
1808           21-07-2015         tropical fruit
2552           05-01-2015             whole milk
2300           19-09-2015              pip fruit
1187           12-12-2015       other vegetables
3037           01-02-2015             whole milk
...                   ...                    ...
4471           08-10-2014          sliced cheese
2022           23-02-2014                  candy
1097           16-04-2014               cake bar
1510           03-12-2014  fruit/vegetable juice
1521           26-12-2014               cat food

[38765 rows x 2 columns]

## Thoughtful Query #1

Question: _(edit this cell to record your question)_

In [3]:
# Query 1 here
#what meat item is the most popular
groceries['itemDescription'].value_counts()

whole milk               2502
other vegetables         1898
rolls/buns               1716
soda                     1514
yogurt                   1334
                         ...
make up remover             5
bags                        4
baby cosmetics              3
preservation products       1
kitchen utensil             1
Name: itemDescription, Length: 167, dtype: int64

Insight: _(edit this cell to record your insight)_

## Thoughtful Query #2

Question: _(edit this cell to record your question)_

In [4]:
# Query 2 here
# Which member bought the most items, and which items did they but the most

#groceries['Member_number'].value_counts()
groceries2['Member_number'].value_counts()
#member 3180 made the most purchases

3180    36
3050    33
2051    33
3737    33
2433    31
        ..
4565     2
2373     2
3788     2
2614     2
2844     2
Name: Member_number, Length: 3898, dtype: int64

In [5]:
var3180 = groceries.loc[3180]
groups3180 = var3180.groupby('itemDescription')
groups3180.groups
#the most frequent purchase seems to be whole milk, this lines up with the previous query

{'baking powder': Int64Index([3180], dtype='int64', name='Member_number'),
 'bathroom cleaner': Int64Index([3180], dtype='int64', name='Member_number'),
 'bottled beer': Int64Index([3180], dtype='int64', name='Member_number'),
 'canned beer': Int64Index([3180], dtype='int64', name='Member_number'),
 'citrus fruit': Int64Index([3180], dtype='int64', name='Member_number'),
 'condensed milk': Int64Index([3180], dtype='int64', name='Member_number'),
 'curd': Int64Index([3180], dtype='int64', name='Member_number'),
 'domestic eggs': Int64Index([3180, 3180], dtype='int64', name='Member_number'),
 'flour': Int64Index([3180], dtype='int64', name='Member_number'),
 'ham': Int64Index([3180], dtype='int64', name='Member_number'),
 'margarine': Int64Index([3180, 3180], dtype='int64', name='Member_number'),
 'newspapers': Int64Index([3180], dtype='int64', name='Member_number'),
 'onions': Int64Index([3180], dtype='int64', name='Member_number'),
 'other vegetables': Int64Index([3180, 3180], dtype='int64', name='Member_number'),
 'pastry': Int64Index([3180, 3180], dtype='int64', name='Member_number'),
 'rolls/buns': Int64Index([3180, 3180], dtype='int64', name='Member_number'),
 'root vegetables': Int64Index([3180], dtype='int64', name='Member_number'),
 'sausage': Int64Index([3180], dtype='int64', name='Member_number'),
 'sugar': Int64Index([3180, 3180, 3180], dtype='int64', name='Member_number'),
 'tropical fruit': Int64Index([3180, 3180, 3180], dtype='int64', name='Member_number'),
 'waffles': Int64Index([3180], dtype='int64', name='Member_number'),
 'whole milk': Int64Index([3180, 3180, 3180, 3180], dtype='int64', name='Member_number'),
 'yogurt': Int64Index([3180], dtype='int64', name='Member_number'),
 'zwieback': Int64Index([3180], dtype='int64', name='Member_number')}

Insight: _(edit this cell to record your insight)_

## Thoughtful Query #3

Question: _(edit this cell to record your question)_

In [6]:
# Query 3 here
#what day of the week was most popular  to shop on
groceries['Date'].value_counts()
#no dicernable trends, each of the top days are different days of the week. 
#The least two shopped on days were a tuesday, but so was the second most shopped on day

21-01-2015    96
21-07-2015    93
29-11-2015    92
08-08-2015    92
30-04-2015    91
              ..
10-01-2014    26
04-07-2014    24
17-03-2015    23
16-03-2015    23
01-09-2015    22
Name: Date, Length: 728, dtype: int64

Insight: _(edit this cell to record your insight)_