In [ ]:
import pandas as pd

# The DataFrame Data Structure

A **DataFrame** is the primary object that we'll be using for cleaning and analyzing structured data sets. We can think of a DataFrame as essentially a 2-dimensional Series, or as a table with labeled rows and columns.

There are many ways to create a DataFrame. For example, we can use a group of series, where each Series represents a row of data. We could also use a group of dictionaries, where each dictionary represents a row of data. For now, let's use the first method.

In [ ]:
# Three Series with the same indexes
purchase_1 = pd.Series({'Name': 'Mr. Chung',
                        'Item': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Mr. Gaines',
                        'Item': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Mr. Lucey',
                        'Item': 'Bird Seed',
                        'Cost': 5.00})

# Combine Series into a DataFrame, setting index values indicating where each purchase occurred
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df

## Extracting data
We can extract data from the DataFrame using the `loc` and `iloc` attributes, just like with a Series. When we use these attributes on a DataFrame, we query for a specific *row* as given by the index label.

In [ ]:
# Rows: Store 2
# Cols: (all)
df.loc['Store 2']

Note that the object returned is a Series, since there was only one row corresponding to the index `Store 2`. We can verify this using the Python `type()` function.

In [ ]:
type(df.loc['Store 2'])

If there are multiple matching rows, then the result is returned as another DataFrame.

In [ ]:
# Rows: Store 1
# Cols: (all)
df.loc['Store 1']

The DataFrame object allows us to easily select data based on multiple axes. For example, if we want to list all of the costs for `Store 1`, all we have to do is supply two parameters to the `loc` attribute: the row name and the column name.

In [ ]:
# Rows: Store 1
# Cols: Cost
df.loc['Store 1', 'Cost']

What if we want to select an entire column, such as all of the costs? This may seem tricky, because every `loc` or `iloc` query must start with a row index. However, Pandas provides some ways around this.

The first way takes advantage of the **transpose** of the DataFrame, which is what we call the same data with the rows and columns flipped.

In [ ]:
df.T

By taking the transpose of `df`, we make it so that `Cost` is its own row; then, we can simply query using the `loc` attribute as usual.

In [ ]:
# Rows: Cost
# Cols: (all)
df.T.loc['Cost']

However, this is a little bit ugly, so Pandas provides an even easier way! Since `loc` and `iloc` query by row, the operation of indexing directly on a DataFrame is reserved for querying by column. Columns always have names, so this will never cause a problem like it might with a Series.

In [ ]:
# Rows: (all)
# Cols: Cost
df['Cost']

Since querying a DataFrame returns either a Series or another DataFrame, we can **chain** operations together. Here's another way we could have queried for all `Store 1` costs, using operation chaining.

In [ ]:
# Rows: Store 1
# Cols: Cost
df.loc['Store 1']['Cost']

**Important note:** chaining is great, but be careful about when you use it! Chaining causes Pandas to return a *copy* of the DataFrame instead of a *view* of the original, and is thus slower and more memory-intensive than necessary.

For the purposes of this course, the larger issue will be the fact that chaining returns a copy. In the future, when we start changing data values, it's important that we know the difference between editing a DataFrame and editing a copy.

## Selecting and Slicing
As we saw before, `loc` can take two parameters: a row index and a column name. We can also provide a list of column names to select. For example, let's select the `Name` and `Cost` for every purchase at `Store 1`.

In [ ]:
# First, let's report df again to remind ourselves of what it looks like
df

In [ ]:
# Rows: Store 1
# Cols: Name, Cost
df.loc['Store 1', ['Name', 'Cost']]

The `loc` operator also supports slicing, for both rows and columns. For example, if we wanted to select the `Name` and `Cost` for every row, we can do the following:

In [ ]:
# Rows: (all)
# Cols: Name, Cost
df.loc[:, ['Name', 'Cost']]

As one more example of slicing, let's select all rows, but only the columns starting from `Item` and moving to the right (a.k.a. `Item` and `Cost`).

In [ ]:
# Rows: (all)
# Cols: Item, Cost
df.loc[:, 'Item':]

## Dropping and adding data
To delete data from a DataFrame (or from a Series), we use the `drop()` function. But before we do that, let's remind ourselves of what our original DataFrame looks like, so that we can see the difference after dropping data.

In [ ]:
df

To remove a row, we simply call `drop()` and pass in the label of the row to remove.

In [ ]:
df.drop('Store 1')

Note that the `drop()` method does not change the original DataFrame, but rather returns a copy in which the specified rows have been removed. We can verify this by taking another look at our original DataFrame – nothing has changed.

In [ ]:
df

To store the copy with removed rows, we must store the result in a new variable.

In [ ]:
copy_df = df.drop('Store 1')
copy_df

We can remove a specified column by passing in an optional parameter `axis=1`, which tells Pandas that the label should apply to columns instead of rows.

In [ ]:
copy_2 = df.drop('Item', axis=1)
copy_2

Another way to remove a column is to index the DataFrame directly (which, remember, returns a column) and combine it with the `del` keyword. This will change the DataFrame directly without creating a copy, but it will not return a view of the updated data.

In [ ]:
del copy_df['Name']
copy_df

Finally, we can easily add a new column to a DataFrame. For example, if we want to add a new column `Location` with default values of `None`, we can do it as follows. Note that the value `None` gets broadcasted across all rows.

In [ ]:
df['Location'] = None
df

If we wish to specify a separate value for each row, we can do that using a list of the values to assign.

In [ ]:
df['Location'] = ['Brooklyn', 'Brooklyn', 'Manhattan']
df

# DataFrame Indexing and Loading

A common workflow is to read your data into a DataFrame, and then reduce that DataFrame into the specific columns or rows that you're interested in working with.

## DataFrame views vs. copies
When used properly, DataFrame queries give you a *view* of the data being accessed. This is much faster and more memory efficient than copying data. But this also means that you will have to be careful to keep track of which types of operations change a DataFrame in place, so that you always know the state of the DataFrame at any given point in time.

Here's an example of an operation that changes the underlying DataFrame. Using the same purchasing data as before, we create a Series out of the `Cost` column.

In [ ]:
costs = df['Cost']
costs

Now, we use broadcasting to increment every value in the Series by 2.

In [ ]:
costs += 2
costs

What you might not expect is that this actually changes the values in the original DataFrame as well. This is because querying the `Cost` column out of the DataFrame returned a *view* (a.k.a. not a copy) of the original, so any changes applied to that view are also applied to the underlying DataFrame.

We can verify that the change has happened to the original data by taking another look at it.

In [ ]:
df

## Reading and indexing CSV files

We'll be working a lot with moderately-sized data sets, which are often stored externally in what we call "Comma-Separated Values" (CSV) files. In order to work with such a data set, we must first read the file into a DataFrame.

Here's an example of [a CSV file](https://raw.githubusercontent.com/michaelschung/bc-data-processing/master/datasets/zoo.csv), which contains data summarizing the amount of water needed by each animal in a zoo.

Let's read this CSV file into a DataFrame.

In [ ]:
zoo_url = 'https://raw.githubusercontent.com/michaelschung/bc-data-processing/master/datasets/zoo.csv'

zoo = pd.read_csv(zoo_url)
zoo

If we want to get an idea of what our DataFrame looks like but we don't want to report the entire thing, we can use `zoo.head()` to display the first five rows.

In [ ]:
zoo.head()

We can also pass a number into `zoo.head()` to specify a specific number of rows to report.

In [ ]:
zoo.head(10)

Note that currently, the index of our DataFrame is given by default integer values. However, in this case this is unnecessary, because every animal already has a unique ID number, specified in the `uniq_id` column.

Instead, it would be better for the `animal` column to be the index, so that we can query for all elephants, all tigers, etc. We accomplish this using the `set_index()` method, which takes a column name as a specifier makes it the new index.

In [ ]:
zoo = zoo.set_index('animal')
zoo.head()

_Note that `zoo.set_index('animal')` does not change the `zoo` DataFrame on its own. So to avoid making unnecessary copies, we are overwriting the previous `zoo` with its new copy with an updated index._

An alternative way to set the index is to do so during the `read_csv` process. To accomplish this, we use an extra parameter `index_col` to tell Pandas ahead of time which column to use as the index.

In [ ]:
# Use the 0th column as the index
zoo = pd.read_csv(zoo_url, index_col=0)
zoo.head()

# Querying a DataFrame

Let's say we want to find out which animals need more than 300 gallons of water. The column name for amount of water needed is `water_need`, so we can do the following:

In [ ]:
zoo['water_need'] > 300

Note the format of the output here: we are given a Series consisting of a bunch of Booleans. We call this a **Boolean mask**, because we can use it to "mask" the results of the DataFrame.

For example, perhaps we want to see _all_ of the information for each animal that requires more than 300 gallons of water. We can use our Boolean mask to query the DataFrame using the `where()` method.

In [ ]:
guzzlers = zoo.where(zoo['water_need'] > 300)
guzzlers

You can think of that command as basically saying, "Give me all of the rows in the DataFrame where the `water_need` column has a value greater than 300."

You may notice that for every animal with a lower water  need, its entire row was filled with `NaN` (Python's abbreviation for "not a number"). That's okay! This is Pandas' way of telling you that those rows are not applicable given the query you just performed.

These `NaN`s may look annoying and problematic, but Pandas knows to ignore them when it performs any further operations. We can show this by comparing the number of rows in the `water_need` column of `guzzlers` to the analogous number in our original table `zoo`.

In [ ]:
print(guzzlers.count())
print(zoo.count())

Of course, it'll usually be nicer to drop the `NaN` rows anyway, and we can do that using the `dropna()` method. Recall that the `drop()` method (discussed earlier) returns a copy of the original DataFrame. Similarly, `dropna()` by default also returns a copy, so we must include the parameter `inplace=True` to force `guzzlers` to apply the change to itself.

_Alternatively, we could omit the extra parameter and just update `guzzlers` to the copy of itself - similar to what we did when we changed the index._

In [ ]:
guzzlers.dropna(inplace=True)
guzzlers

So let's summarize. To query specific rows from a DataFrame, we need to:

1. Create a Boolean mask based on column values in question
2. Pass this mask into the `where()` function of the DataFrame
3. Remove `NaN` rows using `dropna()`

Let's try one more example together. Write a query for all animals that have ID numbers greater than or equal to 1010.

In [ ]:
mask = zoo['uniq_id'] >= 1010
newbies = zoo.where(mask)
newbies.dropna(inplace=True)
newbies

# Advanced Querying

## Shorthand queries

Now that you've mastered the pattern of querying, it's time you know that there's actually a faster way. Querying for a specific subset and dropping the `NaN` rows is such a common set of actions that Pandas provies a shorthand way to do it. All we need to do is to query the DataFrame directly, using a Boolean mask instead of an index label.

In [ ]:
zoo[zoo['water_need'] > 300]

If that looks confusing, think of it this way:

In [ ]:
# Create a mask
mask = zoo['water_need'] > 300
# Use the mask to query the DataFrame directly
zoo[mask]

## Combining Boolean masks

We can combine multiple Boolean masks to accomplish more complex queries.

Previously, we queried to see which animals require more than 300 gallons of water, as well as which have ID numbers greater than or equal to 1010. Now, let's query for which animals fulfill both of those at the same time. We can do this by combining the two masks using the `&` operator.

In [ ]:
water_mask = zoo['water_need'] > 300
id_mask = zoo['uniq_id'] >= 1010
mask = water_mask & id_mask
newbie_guzzlers = zoo[mask]
newbie_guzzlers

Of course, all of that code can be condensed into one single line.

**Note: when Boolean masks are combined inline like this, each mask _must_ be encased in parentheses.**

In [ ]:
# Parentheses around each Boolean mask!
newbie_guzzlers = zoo[(zoo['water_need'] > 300) & (zoo['uniq_id'] >= 1010)]
newbie_guzzlers

Now, write a query that finds all animals with ID numbers less than 1014, which also require less than 250 gallons of water.

In [ ]:
zoo[(zoo['uniq_id'] < 1014) & (zoo['water_need'] < 250)]

As a final exercise, write a query that finds all animals with ID numbers from 1010-1019, and also require between 200-399 gallons of water.

In [ ]:
id_mask = (zoo['uniq_id'] >= 1010) & (zoo['uniq_id'] < 1020)
water_mask = (zoo['water_need'] >= 200) & (zoo['water_need'] < 400)
mask = id_mask & water_mask
zoo[mask]